@import "fonts"
@import "base"

.logo
  width: 75px
  height: auto
  margin-left: 3vw

.navbar-brand
  padding: 5px 0px
  width: 75px
  height: auto

.navbar-inverse
  background-color: #ffffff
  border-color: #ffffff

.navbar-inverse .navbar-nav > .active > a
  background-color: #ffffff
  color: #0057b1

.navbar-inverse .navbar-nav > li > a
  color: #000000
  padding: 10px 0px
  margin: 5px 15px

  &:hover
    color: #0057b1

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
  background-color: #ffffff
  color: #0057b1

  &::after
    display: block
    position: absolute
    content: ""
    width: 100%
    left: 0px
    height: 2px
    bottom: 20%
    background-color: #0057b1

.bg-dots
  background-image: url(/img/dots.svg)
  background-size: 21px 26px
  background-repeat: repeat

  .col-md-6
    padding: 0

.greeting
  h1
    text-align: center
    margin-top: 10%
    margin-bottom: 5%

  p
    margin: 0 auto
    margin-bottom: 5%
    max-width: 600px
    font-size: 18px
    line-height: 2

  .contacts
    text-align: center

    .button
      display: inline-block
      border: 5px solid #0057b1//#4e70be
      border-radius: 11px
      padding: 9px 20px
      margin: 0 10px
      background-color: transparent
      text-decoration: none

      &:hover
        background-color: #0057b1//#4e70be
        color: #ffffff
        transition: .15s


.doctor-main-picture
  img
    width: 100%

.translucent-glass
  background-color: #FFFFFF
  border-radius: 15px
  text-align: center
  box-shadow: inset

  img
    width: 100%
    height: auto
    border-radius: 15px

  .desc
    text-align: left
    color: #0057b1

    ul
      list-style-type: none

      li
        &::before
          content: "- "

    h2
      color: #0057b1
      margin-left: 20px

.smile
  margin-top: 50px

  img
    width: 100%
    height: auto

.link-direction
  color: #FFFFFF
  &:hover, &:focus
    color: #FFFFFF
    text-decoration: none

.directions
  margin-top: 50px
  text-align: center
  color: white!important

  ul
    text-align: left
    padding-bottom: 15px
    margin-bottom: 0px
    li
      padding-bottom: 5px

  .row
    margin-top: 30px
    .col-md-4
      padding-top: 15px
      padding-bottom: 15px

  .direction-container

  .direction
    width: 100%
    height: auto
    background-color: #0057b1
    border-radius: 10px

    .name-direction
      font-size: 36px
      margin-bottom: 15px

    .desc
      text-align: left
      padding-bottom: 10px

    img
      width: 70%
      height: auto

  h1
    color: white

.professionals
  margin-top: 50px

  img
    width: 100%
    height: auto

.doctors
  text-align: center
  margin-top: 50px

  .slider__item 
    flex: 0 0 0 33.3%
    max-width: 33.3%

    img
      width: 90%
      height: auto
    
  .doctor
    //border: 1px solid rgba(0, 0, 0, .1)
    border-radius: 15px
    background-color: white
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .1)

    img
      width: 90%
      margin-top: 5%
      height: auto
      border-radius: 15px

    p
      &:last-of-type
        padding-bottom: 5%

.reviews
  margin-top: 50px
  .review
    background-color: #FFFFFF
    padding: 20px 30px 
    margin-bottom: 30px
    border: 2px solid #F7F8F9
    border-radius: 10px
    box-shadow: 10px 10px #E7E8E9

    div
      margin-bottom: 5px

    hr
      margin-top: 10px
      margin-bottom: 10px

.certificates
  .certificate
    margin: auto 0
    img
      margin: 0 auto
      width: 70%
      height: auto

footer
  background-color: #0057b1
  color: white
  padding: 15px 0

  .row
    .col, .col-md-4, .col-sm-6, .col-12
      text-align: center
      margin: 5px 0

  a
    color: white
    text-decoration: none
    position: relative
    transition: all .6s

    &::before
      content: ""
      width: 0
      height: 0.05em
      position: absolute
      bottom: 0
      left: 50%
      background: white
      transition: all .3s                    

    &:hover
      color: white
      &::before
          width: 100%
          left: 0

    .fab
      font-size: 24px
      

body
  background-color: rgba(0, 0, 0, 0.01)
// .doctor-main-picture
//   min-height: 500px
//   background-color: #ffffff
//   background-image: url(../img/doctor-main-picture.png)
//   background-position: right
//   background-size: contain
//   background-repeat: no-repeat
  